<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Basic TreeGrid - jQuery EasyUI Demo</title>

    <link href="/Resources/js/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Resources/js/easyui/themes/icon.css" rel="stylesheet" />
    <link href="/Resources/js/easyui/demo/demo.css" rel="stylesheet" />
    <script src="/Resources/js/easyui/jquery.min.js"></script>
    <script src="/Resources/js/easyui/jquery.easyui.min.js"></script>
    
   <link href="/Resources/js/layui-v2.5.4/layui/css/layui.css" rel="stylesheet" />
    <script src="/Resources/js/layui-v2.5.4/layui/layui.js"></script>
    


</head>
<body style="height:100%;padding:10px">
  	<div id="mm" class="easyui-menu" style="width:120px;">
		<div onclick="append()" data-options="iconCls:'icon-add'">添加</div>
		<div onclick="edit()" data-options="iconCls:'icon-edit'">修改</div>
          <div onclick="removeIt()" data-options="iconCls:'icon-remove'">删除</div>
		<!--<div class="menu-sep"></div>-->
	<!--	<div onclick="collapse()">收启</div>
		<div onclick="expand()">展开</div>-->
	</div>
@*   <button class="layui-btn layui-btn-sm" style="margin-bottom:10px" onclick="create()">创建</button>*@
    <div style="width:100%;height:40px">
      <button class="layui-btn layui-btn-sm" style="margin-left:10px" onclick ="location.reload()">刷新</button>
         <button class="layui-btn layui-btn-sm" style="margin-bottom:10px;float:right" onclick ="search()">搜索</button>
      <div class=" layui-form layui-input-inline" style="float: right;width:400px">
            <select lay-search lay-filter="search" id="key">
                <option value="">选中后搜索...</option>

            </select>
        </div>
        </div>
    <table id="tg" style="height:100%"></table>

    <script>

        $('#tg').treegrid({


            //collapsible: true,
            //fitColumns: true,
            url: '/Task/GetTaskInfo',
            idField: 'allConponentNum',
            animate: true,
            treeField: 'taskName',
            method: 'get',
            // rownumbers: true,
            //checkbox: true,
            columns: [[
                { title: '名称', field: 'taskName', width:'10%'},
              {
                  title: '代号/图号', field: 'taskNum', width: '8.33%', 
              },
              { title: '工艺责任人', field: 'craftPersonName', width: '8.33%' },
              {
                  title: '工艺过程卡', field: 'processCardUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                      return '<p style="color:blue;text-decoration:underline">' + (value == null ? "" : value) + '</p>';
                  }
              },
              {
                  title: '工艺进程单', field: 'processScheduleUpTimeStr', width: '8.33%', formatter: function (value, row, index) {
                      return '<p style="color:blue;text-decoration:underline">' + (value == null ? "" : value) + '</p>';
                  }
              },
              {
                  title: '工装图纸', field: 'ToolingDrawingsUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                      return '<p style="color:blue;text-decoration:underline">' + (value == null ? "" : value) + '</p>';
                  }
              },
              {
                  title: '加工程序', field: 'processFileUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                      return '<p style="color:blue;text-decoration:underline">' + (value == null ? "" : value) + '</p>';
                  }
              },
              { title: '计划开始时间', field: 'planStartTimeStr', width: '8.33%' },
              { title: '计划完成时间', field: 'planEndTimeStr', width: '8.33%' },
              { title: '实际开始时间', field: 'acceptTaskTimeStr', width: '8.33%' },
              { title: '实际完成时间', field: 'completeTimeStr', width: '8.33%' },
              {
                  title: '任务状态', field: 'taskStateStr', width: '8.33%',
              },
              //  { field: 'id', title: 'id', }, 
               { field: 'ispart', title: 'ispart', hidden: true },
            ]]
            //,
            //data: [{ taskName: 11,allConponentNum:'1.1.' }]
            , onLoadSuccess: function (data) {

                $('.tree-folder.tree-folder-open').removeClass('tree-folder tree-folder-open')
                $('.tree-icon').removeClass('tree-icon tree-file')
                //$(".datagrid-view1").remove()
                //$(".datagrid-view2").css('left', '0')

                $('.panel-body').css('border-color', 'white')

                var states = $('td[field="taskStateStr"]')
                for (var i = 0; i < states.length; i++) {
                    if ($(states[i]).children().text() == "待完成") {
                        $(states[i]).css('background-color', 'orange')
                    } else if ($(states[i]).children().text() == "已完成") {
                        $(states[i]).css('background-color', 'green')
                    }
                }

                var arr = $('td[field="taskName"]')
                for (var i = 0; i < arr.length; i++) {
                    var ispart = $(arr[i]).siblings('[field="ispart"]').children().text();
                
                    if (ispart == "false") {
                        $(arr[i]).css('font-weight', 'bold')
                    } else {
                        $(arr[i]).siblings('[field="processCardUploadTimeStr"]').attr('title', '点击查看工艺过程卡')
                        $(arr[i]).siblings('[field="processScheduleUpTimeStr"]').attr('title', '点击查看工艺进程单')
                        $(arr[i]).siblings('[field="ToolingDrawingsUploadTimeStr"]').attr('title', '点击查看工装图纸')
                        $(arr[i]).siblings('[field="processFileUploadTimeStr"]').attr('title', '点击查加工程序')
                    }
                }


                let collapseStr=localStorage.getItem('collapseStr')==null?"":localStorage.getItem('collapseStr')
                let collapseArr=collapseStr.split(',')
                for (let i = 0; i < collapseArr.length; i++) {
                    if(collapseArr[i]!=""){
                        $('#tg').treegrid('collapse',collapseArr[i])
                    }
                }

                //$.ajax({
                //    url: '../刀具管理/Jurisdiction.ashx', success: function (d) {  
                //        var obj = JSON.parse(d)
                //        var limit = obj.Limit
                //        for (var i = 0; i < limit.length; i++) {
                //            if (limit[i] == "操作") {
                //                $('td[field="action"]').remove()
                //            }
                //        }
                //    }

                //})

            }
           //, onContextMenu: function (e, row) {
           //    id = row.id
           //    allConponentNum = row.allConponentNum
           //    ispart = row.ispart

           //    e.preventDefault();
           //    $("#tg").treegrid('select', row.allConponentNum);
           //    $('#mm').menu('show', {
           //        left: e.pageX,
           //        top: e.pageY
           //    });
           //}
             , onClickCell: function (field, row) {
                 var show = false;


                 if (field == "processCardUploadTimeStr" & row.ispart) {
                    
                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工艺过程卡',
                         content: '/Home/工艺过程卡',
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, show)
                         }
                     });
                 } if (field == "processCardUploadTimeStr" & !row.ispart & row.craftPersonID != 0) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工艺过程卡',
                         content: '/Home/Com工艺过程卡',
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, show)
                         }
                     });
                 }

                 else if (field == "processScheduleUpTimeStr" & row.ispart) {
                    
                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工艺进程单',
                         content: '/Home/工艺进程单',
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, show)
                         }
                     });
                 } else if (field == "processScheduleUpTimeStr" & !row.ispart & row.craftPersonID != 0) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工艺进程单',
                         content: '/Home/Com工艺进程单',
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, show)
                         }
                     });
                 }

                 else if (field == "ToolingDrawingsUploadTimeStr" & row.ispart) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工装图纸',
                         content: '/Home/工装图纸',
                         cancel: function (index, layero) {
                             tgreload()
                             layer.close(index)

                             return false;
                         },
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, "工装图纸",false)
                         }
                     });
                 } else if (field == "processFileUploadTimeStr" & row.ispart) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '加工程序',
                         content: '/Home/工装图纸',
                         cancel: function (index, layero) {
                             tgreload()
                             layer.close(index)

                             return false;
                         },
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, "加工程序",false)
                         }
                     });
                 }

                 else if (field == "ToolingDrawingsUploadTimeStr" & !row.ispart & row.craftPersonID != 0) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '工装图纸',
                         content: '/Home/Com工装图纸',
                         cancel: function (index, layero) {
                             tgreload()
                             layer.close(index)

                             return false;
                         },
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, "工装图纸", false)
                         }
                     });
                 } else if (field == "processFileUploadTimeStr" & !row.ispart & row.craftPersonID != 0) {

                     layer.open({
                         type: 2,
                         area: ['500px', '500px'],
                         title: '加工程序',
                         content: '/Home/Com工装图纸',
                         cancel: function (index, layero) {
                             tgreload()
                             layer.close(index)

                             return false;
                         },
                         success: function (layero, index) {

                             var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                             iframeWin.fun(row.id, row.allConponentNum, "加工程序", false)
                         }
                     });
                 }
             }
             ,onCollapse(row){
          let collapseStr=localStorage.getItem('collapseStr')==null?"":localStorage.getItem('collapseStr')
         let collapseArr=collapseStr.split(',')

         if(collapseArr.indexOf(row.allConponentNum)==-1){
             collapseArr.push(row.allConponentNum)
             localStorage.setItem('collapseStr',collapseArr)
             //console.log(collapseArr)
         }
      
         },
         onExpand(row){
             let collapseStr=localStorage.getItem('collapseStr')==null?"":localStorage.getItem('collapseStr')
             let collapseArr=collapseStr.split(',')
             let index=collapseArr.indexOf(row.allConponentNum);
             if(index>-1){
                 collapseArr.splice(index,1)
                 localStorage.setItem('collapseStr',collapseArr)
                 // console.log(collapseArr)
               
             }
         }
        });


    </script>
    <script>

        addOption()
        layui.use(['layer', 'form'], function () {
            layer = layui.layer; form = layui.form;

            //form.on('select(search)', function (data) {
            //    key = data.value
            //    $('#tg').treegrid({


            //        //collapsible: true,
            //        //fitColumns: true,
            //        url: '/Task/SearchSubmit?str=' + key,
            //        idField: 'allConponentNum',
            //        animate: true,
            //        treeField: 'taskName',
            //        method: 'post',
            //        // rownumbers: true,
            //        //checkbox: true,
            //        columns: [[
            //            { title: '名称', field: 'taskName', width: '8.33%' },
            //          {
            //              title: '代号/图号', field: 'taskNum', width: '8.33%',
            //          },
            //          { title: '工艺责任人', field: 'craftPersonName', width: '8.33%' },
            //          {
            //              title: '工艺过程卡', field: 'processCardUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
            //                  return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
            //              }
            //          },
            //          {
            //              title: '工艺进程单', field: 'processScheduleUpTimeStr', width: '8.33%', formatter: function (value, row, index) {
            //                  return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
            //              }
            //          },
            //          {
            //              title: '工装图纸', field: 'ToolingDrawingsUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
            //                  return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
            //              }
            //          },
            //          {
            //              title: '加工程序', field: 'processFileUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
            //                  return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
            //              }
            //          },
            //          { title: '计划开始时间', field: 'planStartTimeStr', width: '8.33%' },
            //          { title: '计划完成时间', field: 'planEndTimeStr', width: '8.33%' },
            //          { title: '实际开始时间', field: 'acceptTaskTimeStr', width: '8.33%' },
            //          { title: '实际完成时间', field: 'completeTimeStr', width: '8.33%' },
            //          {
            //              title: '任务状态', field: 'taskStateStr', width: '8.33%',
            //          },
            //          //  { field: 'id', title: 'id', }, 
            //           { field: 'ispart', title: 'ispart', hidden: true },
            //        ]]
            //        //,
            //        //data: [{ taskName: 11,allConponentNum:'1.1.' }]
            //  , onLoadSuccess: function (data) {

            //      $('.tree-folder.tree-folder-open').removeClass('tree-folder tree-folder-open')
            //      $('.tree-icon').removeClass('tree-icon tree-file')
            //      //$(".datagrid-view1").remove()
            //      //$(".datagrid-view2").css('left', '0')

            //      $('.panel-body').css('border-color', 'white')

            //      var states = $('td[field="taskStateStr"]')
            //      for (var i = 0; i < states.length; i++) {
            //          if ($(states[i]).children().text() == "待完成") {
            //              $(states[i]).css('background-color', 'orange')
            //          } else if ($(states[i]).children().text() == "已完成") {
            //              $(states[i]).css('background-color', 'green')
            //          }
            //      }

            //      var arr = $('td[field="taskName"]')
            //      for (var i = 0; i < arr.length; i++) {
            //          var ispart = $(arr[i]).siblings('[field="ispart"]').children().text();
                     
            //          if (ispart == "false") {
            //              $(arr[i]).css('font-weight', 'bold')
            //          }
            //      }
            //      //$.ajax({
            //      //    url: '../刀具管理/Jurisdiction.ashx', success: function (d) {
            //      //        var obj = JSON.parse(d)
            //      //        var limit = obj.Limit
            //      //        for (var i = 0; i < limit.length; i++) {
            //      //            if (limit[i] == "操作") {
            //      //                $('td[field="action"]').remove()
            //      //            }
            //      //        }
            //      //    }

            //      //})

            //  }
            //        //, onContextMenu: function (e, row) {
            //        //    id = row.id
            //        //    allConponentNum = row.allConponentNum
            //        //    ispart = row.ispart

            //        //    e.preventDefault();
            //        //    $("#tg").treegrid('select', row.allConponentNum);
            //        //    $('#mm').menu('show', {
            //        //        left: e.pageX,
            //        //        top: e.pageY
            //        //    });
            //        //}
            //   , onClickCell: function (field, row) {
            //       var show = false;


            //       if (field == "processCardUploadTimeStr" & row.ispart) {

            //           layer.open({
            //               type: 2,
            //               area: ['500px', '500px'],
            //               title: '工艺过程卡',
            //               content: '/Home/工艺过程卡',
            //               success: function (layero, index) {

            //                   var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            //                   iframeWin.fun(row.id, row.allConponentNum, show)
            //               }
            //           });
            //       } else if (field == "processScheduleUpTimeStr" & row.ispart) {

            //           layer.open({
            //               type: 2,
            //               area: ['500px', '500px'],
            //               title: '工艺进程单',
            //               content: '/Home/工艺进程单',
            //               success: function (layero, index) {

            //                   var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            //                   iframeWin.fun(row.id, row.allConponentNum, show)
            //               }
            //           });
            //       } else if (field == "ToolingDrawingsUploadTimeStr" & row.ispart) {

            //           layer.open({
            //               type: 2,
            //               area: ['500px', '500px'],
            //               title: '工装图纸',
            //               content: '/Home/工装图纸',
            //               cancel: function (index, layero) {
            //                   tgreload()
            //                   layer.close(index)

            //                   return false;
            //               },
            //               success: function (layero, index) {

            //                   var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            //                   iframeWin.fun(row.id, row.allConponentNum, "工装图纸", false)
            //               }
            //           });
            //       } else if (field == "processFileUploadTimeStr" & row.ispart) {

            //           layer.open({
            //               type: 2,
            //               area: ['500px', '500px'],
            //               title: '加工程序',
            //               content: '/Home/工装图纸',
            //               cancel: function (index, layero) {
            //                   tgreload()
            //                   layer.close(index)

            //                   return false;
            //               },
            //               success: function (layero, index) {

            //                   var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            //                   iframeWin.fun(row.id, row.allConponentNum, "加工程序", false)
            //               }
            //           });
            //       }

            //   }
            //    });

            //});
        })

        function search() {
            key = $("#key").val()
            $('#tg').treegrid({


                //collapsible: true,
                //fitColumns: true,
                url: '/Task/SearchSubmit?str=' + key,
                idField: 'allConponentNum',
                animate: true,
                treeField: 'taskName',
                method: 'post',
                // rownumbers: true,
                //checkbox: true,
                columns: [[
                    { title: '名称', field: 'taskName', width: '8.33%' },
                  {
                      title: '代号/图号', field: 'taskNum', width: '8.33%',
                  },
                  { title: '工艺责任人', field: 'craftPersonName', width: '8.33%' },
                  {
                      title: '工艺过程卡', field: 'processCardUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                          return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
                      }
                  },
                  {
                      title: '工艺进程单', field: 'processScheduleUpTimeStr', width: '8.33%', formatter: function (value, row, index) {
                          return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
                      }
                  },
                  {
                      title: '工装图纸', field: 'ToolingDrawingsUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                          return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
                      }
                  },
                  {
                      title: '加工程序', field: 'processFileUploadTimeStr', width: '8.33%', formatter: function (value, row, index) {
                          return '<p style="color:blue">' + (value == null ? "" : value) + '</p>';
                      }
                  },
                  { title: '计划开始时间', field: 'planStartTimeStr', width: '8.33%' },
                  { title: '计划完成时间', field: 'planEndTimeStr', width: '8.33%' },
                  { title: '实际开始时间', field: 'acceptTaskTimeStr', width: '8.33%' },
                  { title: '实际完成时间', field: 'completeTimeStr', width: '8.33%' },
                  {
                      title: '任务状态', field: 'taskStateStr', width: '8.33%',
                  },
                  //  { field: 'id', title: 'id', }, 
                   { field: 'ispart', title: 'ispart', hidden: true },
                ]]
                //,
                //data: [{ taskName: 11,allConponentNum:'1.1.' }]
          , onLoadSuccess: function (data) {

              $('.tree-folder.tree-folder-open').removeClass('tree-folder tree-folder-open')
              $('.tree-icon').removeClass('tree-icon tree-file')
              //$(".datagrid-view1").remove()
              //$(".datagrid-view2").css('left', '0')

              $('.panel-body').css('border-color', 'white')

              var states = $('td[field="taskStateStr"]')
              for (var i = 0; i < states.length; i++) {
                  if ($(states[i]).children().text() == "待完成") {
                      $(states[i]).css('background-color', 'orange')
                  } else if ($(states[i]).children().text() == "已完成") {
                      $(states[i]).css('background-color', 'green')
                  }
              }

              var arr = $('td[field="taskName"]')
              for (var i = 0; i < arr.length; i++) {
                  var ispart = $(arr[i]).siblings('[field="ispart"]').children().text();

                  if (ispart == "false") {
                      $(arr[i]).css('font-weight', 'bold')
                  }
              }
              //$.ajax({
              //    url: '../刀具管理/Jurisdiction.ashx', success: function (d) {
              //        var obj = JSON.parse(d)
              //        var limit = obj.Limit
              //        for (var i = 0; i < limit.length; i++) {
              //            if (limit[i] == "操作") {
              //                $('td[field="action"]').remove()
              //            }
              //        }
              //    }

              //})

          }
                //, onContextMenu: function (e, row) {
                //    id = row.id
                //    allConponentNum = row.allConponentNum
                //    ispart = row.ispart

                //    e.preventDefault();
                //    $("#tg").treegrid('select', row.allConponentNum);
                //    $('#mm').menu('show', {
                //        left: e.pageX,
                //        top: e.pageY
                //    });
                //}
           , onClickCell: function (field, row) {
               var show = false;


               if (field == "processCardUploadTimeStr" & row.ispart) {

                   layer.open({
                       type: 2,
                       area: ['500px', '500px'],
                       title: '工艺过程卡',
                       content: '/Home/工艺过程卡',
                       success: function (layero, index) {

                           var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                           iframeWin.fun(row.id, row.allConponentNum, show)
                       }
                   });
               } else if (field == "processScheduleUpTimeStr" & row.ispart) {

                   layer.open({
                       type: 2,
                       area: ['500px', '500px'],
                       title: '工艺进程单',
                       content: '/Home/工艺进程单',
                       success: function (layero, index) {

                           var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                           iframeWin.fun(row.id, row.allConponentNum, show)
                       }
                   });
               } else if (field == "ToolingDrawingsUploadTimeStr" & row.ispart) {

                   layer.open({
                       type: 2,
                       area: ['500px', '500px'],
                       title: '工装图纸',
                       content: '/Home/工装图纸',
                       cancel: function (index, layero) {
                           tgreload()
                           layer.close(index)

                           return false;
                       },
                       success: function (layero, index) {

                           var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                           iframeWin.fun(row.id, row.allConponentNum, "工装图纸", false)
                       }
                   });
               } else if (field == "processFileUploadTimeStr" & row.ispart) {

                   layer.open({
                       type: 2,
                       area: ['500px', '500px'],
                       title: '加工程序',
                       content: '/Home/工装图纸',
                       cancel: function (index, layero) {
                           tgreload()
                           layer.close(index)

                           return false;
                       },
                       success: function (layero, index) {

                           var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                           iframeWin.fun(row.id, row.allConponentNum, "加工程序", false)
                       }
                   });
               }

           }
            });

        }
        function addOption() {
            $.ajax({
                url: '/Task/GetTaskInfoStrList',
                success: function (res) {
                    $('select').empty();
                    $('select').append(' <option value="">选中后搜索...</option>')
                    for (var i = 0; i < res.length; i++) {
                        $('select').append('  <option value="' + res[i] + '">' + res[i] + '</option>')
                    }
                    form.render('select')
                }

            })
        }

      
        function append() {
         
            if (ispart) {
                layer.msg("已经是零件", { icon: 2, time: 1000 })
            } else {
                layer.confirm('添加', {
                    btn: ['组件', '零件'] //按钮
                }, function () {
                    layer.open({
                        type: 2,
                        title: '创建组件',
                        area: ['500px', '400px'],
                        content: '/Home/创建产品弹窗',
                        success: function (layero, index) {

                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                            iframeWin.fun(id, allConponentNum)

                        }
                    });
                }, function () {
                    layer.open({
                        type: 2,
                        title: '添加零件',
                        area: ['500px', '500px'],
                        content: '/Home/添加零件弹窗',
                        success: function (layero, index) {

                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                            iframeWin.fun(id, allConponentNum)

                        }
                    });
                });
            }

        }
        function edit() {
            alert(allConponentNum)
        }
        function removeIt() {
            window.alert(id)
        }
        function collapse() {
            var node = $('#tg').treegrid('getSelected');
            if (node) {
                $('#tg').treegrid('collapse', node.id);
            }
        }
        function expand() {
            var node = $('#tg').treegrid('getSelected');
            if (node) {
                $('#tg').treegrid('expand', node.id);
            }
        }
        function create() {
            layer.open({
                type: 2,
                title: '创建产品',
                area: ['500px', '400px'],
                content: '/Home/创建产品弹窗',
                success: function (layero, index) {

                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();

                    iframeWin.fun(0, 0)
                }
            });
        }
        function tgreload() {
            $("#tg").treegrid('reload')
        }
    </script>
</body>
</html>